@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gradient-to-br from-slate-100 via-gray-100 to-zinc-100 max-h-full;
}

@layer base {
	html {
		scroll-behavior: smooth;
	}
	p {
		@apply mb-4;
	}
	section {
		scroll-margin-top: 6rem;
	}
}

@layer utilities {
	.clip-polygon {
		-webkit-clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
		clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
	}

	.pad-default {
		@apply py-24 px-12 md:p-8 md:px-64;
	}
}

@layer components {
	.elev {
		@apply shadow-sm shadow-neutral-950;
	}

	.btn-filled {
		@apply text-neutral-100 text-sm font-medium rounded-full bg-blue-900 px-5 py-2.5 mr-2 mb-2 transition-all duration-300
       hover:elev hover:opacity-95 
       focus:opacity-80 focus:outline-0 
       active:bg-blue-950 active:focus:opacity-100 active:focus:outline-0;
	}
	.btn-tonal {
		@apply text-neutral-900 text-sm font-medium rounded-full bg-blue-200 px-5 py-2.5 mr-2 mb-2 transition-all duration-300
    hover:elev hover:opacity-95 
    focus:opacity-80 focus:outline-0 
    active:bg-blue-300 active:focus:opacity-100 active:focus:outline-0;
	}

	.btn-outlined {
		@apply text-blue-900 text-sm font-medium rounded-full border border-blue-900 px-5 py-2.5 mr-2 mb-2 transition-all duration-300
    hover:bg-blue-100
    focus:opacity-80 focus:outline-0 focus:bg-blue-100
    active:bg-blue-300 active:focus:opacity-100 active:focus:outline-0;
	}

	.btn-text {
		@apply text-neutral-900 rounded-full text-sm font-medium px-3 py-2 bg-transparent transition-all duration-300
    hover:bg-blue-100
    focus:opacity-80 focus:outline-0 focus:bg-blue-100
    active:bg-blue-300 active:focus:opacity-100 active:focus:outline-0;
	}
}
