.cont {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 4rem;
  overflow: hidden;
  z-index: -1;
  
  border-bottom: 10px solid black;
  border-top: 10px solid black;
  filter: url("#goo");
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}
.cont .drip {
  border-radius: 50%;
  border-color: black;
  background: black;
  position: absolute;
  top: 100%;
  animation: falling 10s linear infinite;
}
@keyframes falling {
  0% {
    top: 150%;
  }
  60%{
    top: 80%;
  }
  100% {
    top: -100%;
  }
}